.nav {
  position: absolute;
  top: 0;
  left: 0;
  margin: 2rem;
  width: 100%;
}
.nav h3 {
  font-size: 3rem;
}

.sidebar {
  position: absolute;
  left: 0px;
  width: 15%;
  height: 80%;
  top: 8rem;
  background-color: rgb(30 30 30 / 56%);
  border: 1px solid rgb(90 90 90 / 56%);
}
.options {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20px;
  left: 30px;
  height: 30%;
  align-items: flex-start;
  width: 100%;
  justify-content: space-evenly;
}

.options li {
  padding: 10px;
  background: rgb(30 30 30 / 56%);
  box-shadow: 0 0.75rem 2rem 0 rgb(0 0 0 / 10%);
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.125);
  transition: 0.5s ease;
}
.options li:hover {
  transform: scale(1.09);
}
.sel {
  background: rgb(255 255 255 / 56%) !important;
  color: black;
}
.Cards {
  margin-top: 1rem;
  display: flex;
  width: 95%;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  transition: 0.3s ease-in-out;
  padding: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
}
.main {
  width: 90%;
  position: absolute;
  left: 12%;
  top: 10%;
  overflow: scroll;
  height: 100%;
}
.card {
  position: relative;
  background-color: rgb(30 30 30 / 56%);
  border: 1px solid rgb(90 90 90 / 56%);
  width: 20%;
  margin: 50px;
  height: 150px;
  border-radius: 20px;
  transition: 0.4s ease-in-out;
}
.card:hover{
  transform: scale(1.12);
}
.card .thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.card .ico {
  position: absolute;
  top: 30%;
  left: 38%;
  width: 55px;
  height: 55px;
  transition: 0.4s ease-in-out;
}
.card .ico:hover {
  background-color: 'white';
}

.login {
  position: absolute;
  margin-right: 3rem;
  padding: 0.6rem 0.9rem;
  background-color: rgb(30 30 30 / 56%);
  border-radius: 10px;
  top: 20px;
  right: 60px;
  cursor: pointer;
}

/*Login */

@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: rgba(#000, 0.7);
}

.container {
  height: 200vh;
  background-image: url(https://images.unsplash.com/photo-1538137524007-21e48fa42f3f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ac9fa0975bd2ebad7afd906c5a3a15ab&auto=format&fit=crop&w=1834&q=80);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.sign-up {
  margin: 60px 0 0;
  font-size: 14px;
  text-align: center;

  a {
    color: #8c7569;
  }
}

.input-button {
  padding: 8px 12px;
  outline: none;
  border: 0;
  color: #fff;
  border-radius: 4px;
  background: #8c7569;
  font-family: 'Nunito', sans-serif;
  transition: 0.3s;
  cursor: pointer;
}

.input-label {
  font-size: 11px;
  text-transform: uppercase;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  letter-spacing: 0.7px;
  color: #8c7569;
  transition: 0.3s;
}

.input-block {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
  transition: 0.3s;
}

.icon-button {
  outline: 0;
  position: absolute;
  right: 10px;
  top: 12px;
  width: 32px;
  height: 32px;
  border: 0;
  background: 0;
  padding: 0;
  cursor: pointer;
}

.scroll-down {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: darken(#8c7569, 5%);
  font-size: 32px;
  font-weight: 800;
  transform: translate(-50%, -50%);
}

@media (max-width: 750px) {
  .modal-container {
    width: 90%;
  }
  .modal-right {
    display: none;
  }
}
